<div class="card-container">
  <mat-card class="device-card">
    <mat-card-header class="content-container">
      <mat-card-title>Angular Interview Example</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="content-container">
        <h2>{{ counter }}</h2>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="content-container">
        <mat-slider
          class="flex-item"
          min="0"
          max="20"
          step="1"
          [value]="counter"
          (valueChange)="counter = $event ?? 0"
        >
          <input matSliderThumb />
        </mat-slider>
        <button
          class="flex-item"
          mat-raised-button
          (click)="counter = counter + 1"
        >
          Increment
        </button>
        <button class="flex-item" mat-raised-button (click)="counter = 0">
          Reset
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
